# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyp
*.egg-info/
dist/
build/
*.egg
*.so
*.lib
*.dll
*.a
*.pdb
*.exp
*.ilk
*.manifest
*.spec

# Virtual Environment
venv/
*.venv
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
*.code-workspace

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/

# Database
*.sqlite

# Miscellaneous
.DS_Store
*.swp
*.swo
*~
